#content{
    width: 75%;
    height: auto;
    display: block;
    float: left;
}

#sidebar{
    width: 25%;
    height: auto;
    display: block;
    float: right;
}
#sidebar h2{
    color: yellow;
    font-size: 30px;
}
h1{
    color: darkred;
    font-size: 50px;
    text-align: center;
}


